.header{
    display: block;
    background: $blue-color;
    margin: 0 0 $gutter 0;
}

#titlePage{
    width: 100%;
    display: block;
    font-size: 28px;
    font-weight: 600;
    color: $white-color;
    text-align: center;
    padding: $gutter 0;
}