.cards{
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;

    &__card{
        width: calc(100% - 32px);
        background: $white-color;
        margin: $gutter;
        padding-bottom: $gutter;

        img{
            width: 100%;
            height: auto;
        }

        &--name{
            width: calc(100% - 16px);
            display: block;
            font-size: 16px;
            font-weight: 600;
            margin: $gutter $gutter / 2;
        }

        &--species,
        &--status,
        &--gender{
            width: calc(100% - 16px);
            display: block;
            font-size: 14px;
            font-weight: 600;
            margin: $gutter / 2 $gutter / 2;

            strong{
                font-weight: 400;
            }
        }
    }
}

#moreCards{
    width: calc(100% - 32px);
    text-align: center;
    font-weight: 600;
    color: $white-color;
    background: $blue-color;
    padding: $gutter 0;
    margin: $gutter;
    border: 0;
    cursor: pointer
}

@media only screen and (min-width: 375px){
    .cards{
        &__card{
            width: calc(50% - 24px);
            margin: $gutter / 2;

            &:nth-child(1n){
                margin-left: $gutter / 2;
            }

            &:nth-child(2n){
                margin-right: $gutter / 2;
            }
        }
    }
}


@media only screen and (min-width: 375px){
    .cards{
        &__card{
            width: calc(50% - 24px);
            margin: $gutter / 2;

            &:nth-child(1n){
                margin-left: $gutter / 2;
            }

            &:nth-child(2n){
                margin-right: $gutter / 2;
            }
        }
    }
}


@media only screen and (min-width: 768px){
    .cards{
        &__card{
            width: calc(25% - 24px);
            margin: $gutter / 2;
            transition: box-shadow linear .5s;

            &:hover{
                box-shadow: 0 0 10px rgba(0, 0, 0, .6);
                transition: box-shadow linear .5s;
            }
        }
    }

    #moreCards{
        width: 500px;
        display: table;
        margin: $gutter auto;
        transition: background linear .5s;

        &:hover{
            background: $blue-color-hover;
            transition: background linear .5s;
        }
    }
}

@media only screen and (min-width: 1024px){
    .cards{
        &__card{
            width: calc(20% - 24px);
            margin: $gutter / 2;
        }
    }
}