/* Reset css */
:root {
    font-size: xx-small;
}

* {
    margin: 0 auto;
    padding: 0 auto;
    color: $black-color;
    outline-color: transparent!important;
    font-family: 'montserrat',Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
*:focus {
    outline-color: transparent!important;
    box-shadow: none!important;
    border: 0!important;
    outline-offset: 0px!important;
    z-index: initial!important;
}
*:before, *:after {
    margin: 0;
    padding: 0; 
    outline: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    line-height: inherit;
    list-style: none;;
}
a{
    text-decoration: none;
    color: inherit;
}
h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    margin: 0;
    padding: 0;
    line-height: initial;
}
p{
    padding: 0;
    margin: 0;
}
a:focus, a:active, 
button:focus, 
button:active, 
.btn:focus, 
.btn:active, 
.button:focus, 
.button:active {
    outline: none;
    text-decoration: none;
    color:inherit;
}
button,
input[type="button"]{
    cursor: pointer;
}
a:hover{
    text-decoration: none;
    color:inherit;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    height: inherit;
    padding: inherit;
    margin-bottom: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    vertical-align: middle;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
input[type="checkbox"],
input[type="radio"], 
select[type="checkbox"], 
select[type="radio"], 
textarea[type="checkbox"], 
textarea[type="radio"] {
    padding: 0;
}
a:focus {
    color: $black-color;
}
a:hover {
    color: $black-color-hover;
}
body {
    width: 100%;
    font-size: small;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
ul {
    margin: 0;
    padding: 0;
}
p {
    color: $black-color;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
a {
    color: $black-color;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

h3 {
    margin: 0;
    padding: 0;
}
.containerFull {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
}
.containerCenter {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: table;
}

.nav .open>a, 
.nav .open>a:focus, 
.nav .open>a:hover{
    background: transparent;
}
